@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.container {
    max-width: 21.875rem;
    margin: 0 auto;
}

.card {
    width: 21.875rem;
    height: 31.875rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1.063rem;
    padding: 1.125rem;
}

.qr-code {
    width: 100%;
    border-radius: 0.75rem;
}

.text {
    text-align: center;
    margin: 0 1rem;
    font-size: 15px;
    padding: 1.25rem 0.938rem;
}

.text h2 {
    color: hsl(218, 44%, 22%);
    padding-bottom: 0.938rem;
}

.text p {
    color: hsl(220, 15%, 55%);
    padding: 0 0.938rem;
}